* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* BACKGROUND DESA */
body {
    height: 100vh;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
        ),
        url("img/desa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

/* CARD */
.card {
    background: rgba(255, 255, 255, 0.95);
    padding: 35px;
    border-radius: 16px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.25);
    animation: fadeIn 0.9s ease;
}

/* ANIMASI */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(35px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card h2 {
    text-align: center;
    margin-bottom: 6px;
    color: #2e7d32;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
}

/* INPUT */
.input-group {
    position: relative;
    margin-bottom: 26px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #c8e6c9;
    font-size: 15px;
    outline: none;
    background: transparent;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 14px;
    color: #777;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-bottom-color: #4caf50;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: -6px;
    font-size: 12px;
    color: #4caf50;
}

/* BUTTON SEJAJAR & RENGGANG */
.button-group {
    display: flex;
    gap: 28px;
    margin-top: 22px;
}

.button-group button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 9px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

/* LOGIN */
.btn-login {
    background: #4caf50;
    color: white;
}

.btn-login:hover {
    background: #388e3c;
    transform: translateY(-2px);
}

/* CANCEL */
.btn-cancel {
    background: #e0e0e0;
    color: #333;
}

.btn-cancel:hover {
    background: #cfcfcf;
}

/* ERROR */
.error {
    margin-top: 15px;
    text-align: center;
    color: #d32f2f;
    font-size: 13px;
}

/* WELCOME */
.welcome {
    display: none;
    text-align: center;
}

.welcome p {
    margin-top: 10px;
    font-size: 15px;
}

.welcome small {
    display: block;
    margin-top: 15px;
    color: #777;
}

/* LOGOUT */
.btn-logout {
    margin-top: 30px;
    width: 100%;
    padding: 12px;
    background: #e53935;
    border: none;
    border-radius: 9px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-logout:hover {
    background: #c62828;
}
